# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

.rbenv-gemsets
.rbenv-version
.powenv
.env
.rvmrc
.powrc

logfile

local.local.*

# Ignore application configuration
/config/application.yml
