.row
  .col-md-6
    index
    %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/zzlv2AIkjR8", :title => "YouTube video player", :width => "640"}